html,
body {
  background-color: rgb(103, 0, 0);
  overflow-x: hidden;
  width: 100%;
  margin: 0;
}

.App {
  text-align: center;
}


.app-time,
.app-location,
.app-location-no-hover,
.app-title {
  flex: 0 1 auto;
  margin: 0px;
}

.app-location{
  transition: background-color 0.3s ease;
  transition: color 0.3s ease;

}

.app-location:hover {
  cursor: pointer;
  background-color: rgb(81, 249, 90);
  color: black;
}

.app-time {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.App-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: calc(0.625rem + 2vmin);
  /* 10px + 2vmin */
  color: white;
  padding: 10px;

}

.edit-button {
  background-color: #4CAF50; /* Green background */
  border: none;
  color: white;
  /* padding: 10px 20px; */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  /* margin: 4px 2px; */
  cursor: pointer;
  border-radius: 12px;
  transition: background-color 0.3s ease;
}

.edit-button:hover {
  background-color: #072d09; /* Darker green on hover */
}

.add-preference-button {
  background-color: rgb(12, 151, 12);
  color: white;
  width: 100%;
  margin: 0px;
  /* border-radius: 0.3125rem; */
  border: none;
  cursor: pointer;
  display: none;
}


.add-hour-button {
  background-color: rgb(12, 151, 12);
  /* border: none; */
  border: 0.25rem solid rgba(210, 210, 210, 0.5);
  /* border-top: 0.2rem solid rgb(180, 153, 253); */
  border-radius: 15%;
  color: white;
  cursor: pointer;
  display: none;

}


.weather:hover .add-hour-button {
  display: block;
}



.weather-container:hover .add-preference-button {
  display: block;
}

.add-hour-button:hover {
  background-color: darkgreen;
}

.add-preference-button:hover {
  background-color: darkgreen;
}

.weather {
  border-color: black;
  background-color: rgba(210, 210, 210, 0.5);
  border-radius: 0.3125rem;
  /* 5px to rem */
  border-width: thick;
  display: flex;
  flex-wrap: nowrap;
}

.weather-box {
  height: auto;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
}

.weather-box-weather {
  /* background-color: green; */
  height: 3.75rem;
  align-items: center;

  display: flex;

}

.remove-condition-button {
  margin-left: 10px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 50%;
  width: (40*0.25)rem;
  height: (40*0.25)rem;
  /* font-size: 24px; */
  display: none;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.condition-name {
  display: flex;
  justify-content: center;
  align-items: center;
}

.condition-name:hover .remove-condition-button {
  display: flex;
}

.remove-condition-button:hover {
  background-color: darkred;
}

.bustimebox-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-items: center;
  flex-wrap: wrap;
  /* 20px to rem */
}

.add-bus-button {
  width: 100%;
  height: 100%;
  background-color: rgb(12, 151, 12);
  color: rgb(255, 255, 255);
  border: none;
  font-size: inherit;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  border-radius: 0.3125rem;

}

.bustimebox-container:hover .add-bus-button-container {
  display: flex;
}

.add-bus-button-container {
  height: 50vh;
  margin: 0 10px;
  display: none;
}

.add-bus-button:hover {
  background-color: darkgreen;
}


.bustimebox {
  border: 0.0625rem solid black;
  /* 1px to rem */
  padding: 1.25rem;
  /* 20px to rem */
  padding-top: 0;
  margin: 0.625rem;
  /* 10px to rem */
  background-color: black;
  border-radius: 0.3125rem;
  /* 5px to rem */
  width: calc(30% - 1.25rem); /* Adjust the width calculation */
  height: 50vh;
  width: calc(30% - 1.25rem); /* Adjust the width calculation */
  flex-grow: 1;
}

.bustimebox-name {
  /* background-color: pink; */
  font-size: 100%;
}

.bustimebox-content {
  /* background-color: orange; */
  height: 35vh;
  font-size: 125%;
  margin-top: 5%;

}

.bustime-one {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0.125rem;
  /* 2px to rem */
  font-size: 60%;
  color: orange;
}

.busTime {
  /* background-color: rgb(12, 177, 231); */
  padding: 0.3125rem;
  /* 5px to rem */
}

.busName {
  /* background-color: rgb(90, 247, 90); */
  padding: 0.3125rem;
  /* 5px to rem */
}

.bustimebox-name p {
  margin: 0;
  /* Removes default margin */
}

.bustimebox-name .bus-stop,
.bustimebox-name .bus-towards {
  margin-bottom: 0.2em;
}

.bustimebox-name {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.bustimebox-header {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
  color: white;

}



.remove-bus-button {
  margin-left: 0px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  font-size: 1.5rem;
  display: none;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 0px;

}


.bustimebox-header:hover .remove-bus-button {
  display: flex;
}

.remove-bus-button:hover {
  background-color: darkred;
}

.condition-icon {
  width: 3.75rem;
  height: 3.75rem;
  padding: 0px;
  margin: 0px;
}


.line-status-container {
  display: flex;
  justify-content: space-between;
  /* position: fixed; */
  /* Or fixed, depending on your requirements */
  bottom: 0;
  width: 100%;
  background-color: eb9b3f;
  /* Optional: for visibility */
  padding-top: 10px;
  /* Optional: for spacing */
}

.line-status-box {
  flex: 1;
  /* Ensure the boxes take equal space */
  margin: 0 10px;
  /* Optional: spacing between the boxes */
  border: 1px solid #ddd;
  /* Optional: for visibility */
  padding: 10px;
  /* Optional: for spacing */
  box-sizing: border-box;
  background-color: white;
}

.line-status-content {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}


.line-name {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.status {
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.remove-line-button {
  margin-left: 10px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 50%;
  width: (40*0.25)rem;
  height: (40*0.25)rem;
  /* font-size: 24px; */
  display: none;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.line-status-content:hover .remove-line-button {
  display: flex;
}

.remove-line-button:hover {
  background-color: darkred;
}

.remove-weather-button {
  margin-left: 10px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 50%;
  width: (40*0.25)rem;
  height: (40*0.25)rem;
  /* font-size: 24px; */
  display: none;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.weather-box-hour {
  display: flex;
  align-items: center;
  justify-content: center;


}


.weather-box:hover .remove-weather-button {
  display: flex;
}


.remove-weather-button:hover {
  background-color: darkred;
  /* Change color on hover */
}

.add-line {
  flex: 0.1;
  margin: 0 10px;
  display: none;
  /* Enables Flexbox */
  align-items: center;
  /* Centers vertically */
  justify-content: center;
  /* Centers horizontally */
  height: 50px;
  /* Define a height */
  font-size: 20px;
  /* Increase font size for visibility */
  color: white;
  /* Set text color */

}

.add-line-button {
  width: 100%;
  /* Fill the width of the parent div */
  height: 100%;
  /* Fill the height of the parent div */
  background-color: rgb(12, 151, 12);
  color: black;
  border: none;
  /* Remove default button border */
  color: inherit;
  /* Match text color with parent */
  font-size: inherit;
  /* Inherit font size from parent */
  cursor: pointer;
  /* Pointer cursor on hover */
  display: flex;
  /* Enable Flexbox */
  align-items: center;
  /* Center text vertically */
  justify-content: center;
  /* Center text horizontally */
  outline: none;
  margin: 0.625rem;
  /* Remove outline on focus */
  border-radius: 0.3125rem;

}

.line-status-container:hover .add-line {
  display: flex;
}




.add-line-button:hover {
  background-color: darkgreen;
  /* Change color on hover */
}

.disruption-reason {
  background-color: yellow;
  font-size: small;
}

.expand-disruption-button {
  margin-left: 10px;
  background-color: rgb(255, 217, 0);
  color: black;
  border: black 0.1rem solid;
  border-radius: 35%;
  width: (40*0.25)rem;
  height: (40*0.25)rem;
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}