.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.weather {
  border-color: black;
  background-color: red;
  border-radius: 0.3125rem; /* 5px to rem */
  border-width: 0.25rem; /* thick (roughly 4px) to rem */
  display: flex;
  flex-wrap: nowrap;
  margin-top: 1%;
}

.weather-box {
  width: calc(100% / 13 - 0.125rem); /* 2px to rem */
  height: 6.25rem; /* 100px to rem */
  border: 0.0625rem solid black; /* 1px to rem */
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
  box-sizing: border-box;
  margin-left: 0.3125rem; /* 5px to rem */
  margin-right: 0.3125rem; /* 5px to rem */
}

.weather-box-hour {
  background-color: pink;
}

.weather-box-weather {
  background-color: orange;
  height: 50%;
  margin-top: 15%;
}

.bustimebox-container {
  display: flex;
  justify-content: space-around;
  margin-top: 1.25rem; /* 20px to rem */
}

.bustimebox {
  border: 0.0625rem solid black; /* 1px to rem */
  padding: 1.25rem; /* 20px to rem */
  padding-top: 0; /* 0px to rem */
  margin: 0.625rem; /* 10px to rem */
  background-color: lightblue;
  border-radius: 0.3125rem; /* 5px to rem */
  width: 30%;
  height: 50vh;
}

.bustimebox-name {
  background-color: pink;
  font-size: 1rem; /* 100% */
}

.bustimebox-content {
  background-color: orange;
  height: 35vh;
  font-size: 1.25rem; /* 125% */
}

.bustime-one {
  background-color: beige;
  width: 75%;
  display: flex;
  justify-content: space-around;
  margin: 0.125rem; /* 2px to rem */
  font-size: 0.75rem; /* 75% */
}

.busTime {
  background-color: rgb(12, 177, 231);
  padding: 0.3125rem; /* 5px to rem */
  float: right;
}

.busName {
  background-color: rgb(90, 247, 90);
  padding: 0.3125rem; /* 5px to rem */
}
